@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.border-mark-to-t {
  -webkit-mask: linear-gradient(to top, #fff 50%,transparent);
}
.border-mark-to-b {
  -webkit-mask: linear-gradient(to bottom, #fff 50%,transparent);
}
.border-mark-to-tb {    
  -webkit-mask: linear-gradient(to top,#fff 93%,transparent),linear-gradient(to bottom,#fff 93%,transparent),linear-gradient(#000,#000);
  -webkit-mask-composite: destination-in;
}
.border-mark-to-lr {
  -webkit-mask: linear-gradient(to left,#fff 93%,transparent),linear-gradient(to right,#fff 93%,transparent),linear-gradient(#000,#000);
  -webkit-mask-composite: destination-in;
}